/*### Powered by: www.dayucms.com ###*/

/*----------Reset CSS for Browsers----------*/
body{color:#444; background:#fff; text-align:left; line-height:21px; font-size:12px; font:12px/1.5 tahoma,arial,"\5b8b\4f53",sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,b,i,p,th,td,form,fieldset,legend,input,button,textarea,blockquote,hr,pre{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,b,i,button,input,select,textarea{font-size:100%; font-weight:normal; font-style:normal;}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal; font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
html{overflow-y:scroll;}
input,select,button,textarea{vertical-align:middle; font-family:Arial, Helvetica, sans-serif;}
input[type="submit"]{cursor:pointer;}
abbr,acronym{border:none; font-variant:normal;}
html{-webkit-text-size-adjust:none;}/* chrome minium font-size fixed */
a:link{color:#444; text-decoration:none;}
a:visited{color:#444; text-decoration:none;}
a:hover{color:#f60; text-decoration:underline;}
a:active{blr:expression(this.onFocus=this.blur())}
a:focus {outline:none;-moz-outline:none;}
.clear{clear:both; font-size:1px; height:0; line-height:0;}
.clearfix{display:inline-block;}
.clearfix:after{content:"."; clear:both; display:block; height:0; visibility:hidden;}
.wb{word-break:break-all; word-wrap:break-word;}
.page-wrap{width:960px; margin:0 auto;}

/*In Common Use */
.fl{float:left;}.fr{float:right;}.mt10{margin-top:10px;}.ml8{margin-left:8px;}.fz14{font-size:14px;}.fz12{font-size:12px;}.border-t-no{border:solid 1px #D7E3ED; border-top:none;}.red{color:#f30!important;}.blue{color:#2478C5!important;}.tr{text-align:right;}.gray{color:#999!important;}

/*---头部---*/
.header-bg{height:82px; border-bottom:solid 3px #2C82CC; width:100%; background:url(../images/repeat_x.png) 0 -227px repeat-x;}
.header{width:960px; height:82px; margin:0 auto; background:url(../images/head_bg.png) 335px 0 no-repeat; position:relative;}
.header h1{width:219px; height:38px; position:absolute; left:0px; top:36px;}
.header h1 strong{font-weight:normal; letter-spacing:6px; color:#999;}
.header .h-link{color:#999; position:absolute; right:0px; top:50px;}
.header .h-link a{margin:0 5px; color:#066BC7;}

.container{width:100%; height:auto; padding-top:40px; background:url(../images/repeat_x.png) 0 -356px repeat-x;}

/*
	注册
*/
.register-page-box{padding:20px 25px;}
.reg-box{width:600px;}
.reg-box .regi-title{font-size:22px; color:#333; display:block; margin-bottom:15px; padding-bottom:3px; border-bottom:dashed 1px #CCC;}
.reg-box .tb{padding:10px 5px 10px;}
.reg-box th{font-size:14px; font-weight:400; text-align:right; padding:4px 2px;}
.reg-box .hover:hover,.reg-box tr.hovered{background:#f4f4f4;}
.reg-box td{text-align:left; padding:4px 2px;}
.reg-box .txt{height:24px; line-height:24px; border:solid 1px #b3b3b3; padding-left:2px; width:224px;}
.reg-box .txt2{width:68px;}
.reg-box .red{position:relative; left:-5px; top:2px; color:#ff0000!important; font-size:16px;}
.reg-box .code{cursor:pointer; margin:0 5px;}
.reg-box .agreement{padding:10px 0;}
.reg-box .agreement a{margin:0 5px;}
.register-btn{border:none; text-align:center; color:#fff!important; font-size:14px; font-weight:bold; display:inline-block; cursor:pointer; width:112px; height:34px; line-height:34px; background:url(../images/css_sprites.png) 0 -292px no-repeat;}
.login-btn{border:none; text-align:center; color:#3472A3!important; font-size:14px; font-weight:bold; display:inline-block; cursor:pointer; width:68px; height:29px; line-height:29px; background:#C9E3F7 url(../images/css_sprites.png) -122px -292px no-repeat;}

.reg-login-tip{width:250px; padding:48px 0 0 25px;}
.reg-login-tip .reg-login{height:250px; border-left:solid 1px #ccc; padding-left:20px;}
.reg-login-tip .reg-login p{margin-bottom:10px; color:#666;}

.regBox{width:900px;border:1px #BFDBEE solid;background:#F0F9FF;padding:10px 29px;margin:10px auto 0 auto;}
.regSuccessTit{height:30px;line-height:26px;font-size:14px;font-weight:700;color:#1E5F92;background:url(ico_03.gif) no-repeat;padding-left:35px;}
.regSuccess{border:1px #E8EFF5 solid;background:#fff;padding:20px 40px;}
.regSuccess .title{background:url(bookingIco.gif) no-repeat;height:33px;line-height:33px;font-size:14px;font-weight:700;padding-left:50px;}
.regSuccess .title b{color:#FF6600;font-family:Arial, Helvetica, sans-serif;}
.regSuccess .msg{width:432px;background:url(msgBg.gif);line-height:20px;padding:15px 15px 7px 15px;overflow:hidden;margin:10px 0 15px 0;}
.regSuccess .msg li{ padding:6px 0;}
.regSuccess .guild{color:#999;line-height:20px;border-top:1px #ddd solid;padding-top:10px;margin-top:10px;}

.smsbutton{width:110px; height:32px; line-height:32px; border:0px; cursor:pointer; background:url(proof.gif); font-size:14px; font-weight:bold; color:#FFFFFF}
.aduitbutton{width:95px; height:28px; line-height:28px; border:0px; cursor:pointer; background:url(audit.gif); font-size:14px; font-weight:bold; color:#FFFFFF}

/*---底部---*/
.footer{width:960px; height:90px; text-align:center; margin:10px auto 0; padding-top:10px; border-top:solid 1px #C6D8E6;}
.footer .foot-nav{color:#999;}
.footer .foot-nav li{display:inline; line-height:24px;}
.footer .foot-nav a{color:#666; margin-left:3px; margin-right:5px;}
.footer .copyright{color:#999; line-height:24px;}
.footer .copyright a{color:#666;}
